.members {
    
    margin: auto;
    float: left;
    padding: 15px;
    width: 300px;   
    /*height: 100%;*/
    color: white;

}
.members img{
    width: 225px;
    min-height: 250px;
    max-height: 250px;
    
}

.about {
    text-align: center;
    overflow: hidden;
    padding-left: 15%;
    background:linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)), url(../img/background.jpg);
    background-size: 100%;

}
