.members {
    
    margin: auto;
    float: left;
    /* border: 3px solid blue; */
    padding: 15px;
    width: 300px;   
    font-weight: bold;
    color: black;
    height: 100%;

}
.members img{
    width: 225px;
    min-height: 250px;
    max-height: 250px;
    
}

.about {
    text-align: center;
    overflow: hidden;
    padding-left: 15%;
    background:linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../img/background.jpg);

}
