.colors {
    text-align: center;
	overflow: hidden;
	padding-left: 15%;
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url(../img/background2.jpg);
	background-size: 100%;
    width: auto;
    height: auto;

}

.input{
	overflow: hidden;
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url(../img/background2.jpg);
	background-size: 100%;
    width: auto;
    height: 100%;
}
.colors table {
        width: 75%;
        color: white;
        border: 3px solid white;
        text-align: center;
        margin: auto;
}
.colors td{
    border: 3px solid white;
    min-width: 15px;
}

.small_col_one {
    width:20%;                    
}

.small_col_two {
    width:80%;
}
#small_table{
    margin-top: auto;
    height:250px;
}
#large_table{
    margin-top: auto;
    height: 500px;
    width: 500px;
    font-size: 9px;
}
#warning_msg {
    color:red;
}
.red{background-color:red;}
.orange{background-color:orange;}
.yellow{background-color:yellow;}
.green{background-color:green;}
.blue{background-color:blue;}
.purple{background-color:purple;}
.grey{background-color:gray;}
.brown{background-color:brown;}
.black{background-color:black;}
.teal{background-color:teal;}
.none{background-color:white;}





@media print{
footer, nav, button, h1{
    display: none;
}
body {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
  }
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
header #logo{
    width: 50px!important;
}
header h2{
    font-size: 20px!important;
    background: white;
    -webkit-text-fill-color:black!important; 
}
.colors table {
    color: black!important;
    border: 3px solid black!important;
    margin-left: -100px;
    margin-top:0px;
}
.colors td{
border: 3px solid black!important;
}
div{
    display: block!important;
    float: none!important;
}
html, body{
    height: fit-content;
}
}

