.colors {
    text-align: center;
	overflow: hidden;
	padding-left: 15%;
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url(../img/background2.jpg);
	background-size: 100%;
    width: auto;
    height: auto;
}
.input{
	overflow: hidden;
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url(../img/background2.jpg);
	background-size: 100%;
    width: auto;
    height: 100%;
}
.colors table {
        width: 75%;
        color: white;
        border: 2px solid white;
        text-align: center;
        margin: auto;
}
.colors td, th{
    border: 2px solid white;
    min-width: 15px;   
}

.small_col_one {
    width:20%;                    
}
.small_col_two {
    width:80%;
}
.color_select {
    margin-top: 5px;
}
#small_table{
    margin-top: auto;
    height:250px;
    border-collapse: collapse;
    font-family: "Trebuchet MS", sans-serif;
   
}
#large_table{
    margin-top: auto;
    height: 500px;
    width: 500px;
    font-size: 15px;
    font-family: "Trebuchet MS", sans-serif;
}
#warning_msg {
    color:red;
}
.red{background-color:red;}
.orange{background-color:orange;}
.yellow{background-color:yellow;}
.green{background-color:green;}
.blue{background-color:blue;}
.purple{background-color:purple;}
.grey{background-color:gray;}
.brown{background-color:brown;}
.black{background-color:black;}
.teal{background-color:teal;}
.none{background-color:white;}
 
.custom-radios {    
    width: 40px;
    margin-left: 8px;
    float: left;
  }

.custom-radios input[type="radio"] {
    display: none;
}
.custom-radios label {
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 14px;
      width:20px;
}

.custom-radios span {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 44px;
}    
.custom-radios img {
          opacity: 0;
          margin-top:9px;
          transition: all .3s ease;
       }     
    
.custom-radios :checked + label span img {
      opacity: 1;
    }



/*
.print here, nav, footer, h1{
    display: none;
    visibility: hidden;
}
.print body {
    -webkit-filter: grayscale(100%)!important; 
    filter: grayscale(100%)!important;
  }
.print table {
        width: 75%;
        color: black;
        border: 2px solid black;
        text-align: center;
        margin: auto;
        background-color: white!important;
         
}
.print td, th{
    border: 2px solid black;
    min-width: 15px;   
}
.print #small_table{
    border: 2px solid black!important;
   
}
.print #large_table{
    border: 2px solid black!important;
}


@media print{
footer, nav, button, h1{
    display: none;
}
body {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
  }
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
header #logo{
    width: 50px!important;
}
header h2{
    font-size: 20px!important;
    background: white;
    -webkit-text-fill-color:black!important; 
}
.colors table {
    color: black!important;
    border: 3px solid black!important;
    margin-left: -100px;
    margin-top:0px;
}
.colors td{
border: 3px solid black!important;
}
div{
    display: block!important;
    float: none!important;
}
html, body{
    height: fit-content;
}
}*/
.addEditButton {
    /* position: absolute;
    left:50%; */
    width: 200px;
   background-color: #9932CC;
   color: white;
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
.addEditButton:hover {
    background-color: #8B008B;
}

.printButton {
    /* position: absolute;
    left:50%; */
    width: 200px;
   background-color: #9932CC;
   color: white;
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
.printButton:hover {
    background-color: #8B008B;
}
