
.input {
    width: 100%;
    margin:auto;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url(../img/background2.jpg);
	background-size: 100%;

}
.smallCenter{
    width:50%;
    margin:auto;
}
.form-group1 {
    padding-top: 15px;
}
.form-group2 {
    padding-top: 10px;
    padding-bottom: 25px;
}
#form_submit {
    /* position: absolute;
    left:50%; */
    
}

#warning_msg {
    color: red;
    
}
#infoText {
    border: 2px dotted white;
    text-align:center;
}
